numpy
pandas
Pillow
Requests
streamlit
streamlit_tree_select
sqlalchemy
#sqlalchemy_utils
transformers
sentencepiece
farm-haystack[only-faiss]
st-annotated-text
markdown
#faiss-cpu==1.7.2
openai
altair
