-f https://download.pytorch.org/whl/torch_stable.html
numpy
pandas
Pillow
Requests
streamlit
streamlit_tree_select
sqlalchemy
#sqlalchemy_utils
transformers
sentencepiece
farm-haystack[only-faiss]
torch==1.8.1+cpu
sentence-transformers
st-annotated-text
markdown
#faiss-cpu==1.7.2
openai
altair
